<% provide :menu, currently_at('Главная')%>


<section class="a-head">	
	<hr>
</section>
<article class="content-main">
	<% if !user_signed_in? then %>
		<%= render('sessions/form') %>
	<% else %>
		<strong>Главная</strong>
	<%end %>
</article>

