<% provide :menu, currently_at('Main')%>

<section class="a-head">
	<strong>Главная</strong>
	<hr>
</section>
<article class="content-main">
	<% if !user_signed_in? then %>
		<%= render('sessions/form') %>
	<% else %>
		<p>main#index</p>
	<%end %>
</article>

