<% provide :page_title, 'Sign in' %>
<% provide :menu, currently_at('')%>


<section class="a-head">
	<strong>Sign in</strong>
	<hr>	
</section>

<article class="content-main">
	<%= render('sessions/form') if !user_signed_in? %>
</article>