<% provide :page_title, 'All orders' %>
<% provide :menu, currently_at(current_user.role.name.to_s)%>
<% provide :mini_menu, currently_at_user('Добавить нового сотрудника') %>

<section class="a-head">
	<strong>new</strong>
	<hr>	
</section>

<article class="content-main">
	<%= render(partial: 'form', locals: {object: @employee}) %>
</article>