<% provide :page_title, 'All orders' %>
<% provide :menu, currently_at(current_user.role.name.to_s)%>
<% provide :mini_menu, currently_at_user('Список сотрудников') %>

<section class="a-head">
	<strong>index</strong>
	<hr>	
</section>

<article class="content-main">
	<section class="text-size-xl profile-main-container">
		<div class="profile">
			<span class="name-head ">Сотрудник</span>
			<div class="profile-info">
				<div class="profile-text">
					<p><b><%= @employee.name %></b></p>				
				</div>
				<div class="hr-line">
					<hr>					
				</div>						
				<div class="profile-text">					
					<p>Табельный номер - <%= @employee.number%></p>
				</div>
				<div class="hr-line">
					<hr>					
				</div>				
				<div class="profile-btn">				
					<p><%= link_to('Изменить', edit_employee_path(@employee), class: 'btn-info') %></p>
					<p><%= link_to('Удалить', employee_path(@employee), data: {turbo_method: :delete, turbo_confirm: "Вы уверенны что хотете удалить #{@employee.name}"}, class: 'btn-danger') %></p>
				</div>

			</div>
		</div>
	</section>
</article>