<%= form_with model: object, data: {turbo: false} do |f| %>
	<div>
		<p><%=f.label :name, 'Название'%></p>
		<p><%=f.text_area :name, size: '50x5' %></p>		
	</div>

	<div>		
		<%=f.submit(submit_text(f, if_exists: 'Сохранить', if_not_exists: 'Создать')) %>
	</div>

<% end %>