<% provide :page_title, 'Targerts' %>
<% provide :menu, currently_at('Изделия')%>
<% provide :mini_menu, currently_at_prod('Назначение изделий') %>

<section class="a-head">
	<strong>edit</strong>
	<hr>
</section>

<article class="content-main">
	<%=render('form', object: @target) %>

</article>