<% provide :page_title, 'Targerts' %>
<% provide :menu, currently_at('Изделия')%>
<% provide :mini_menu, currently_at_prod('Создать новое назначение') %>

<section class="a-head">
	<strong>new</strong>
	<hr>
</section>

<article class="content-main">
	<%=render('form', object: @target) %>
	
</article>