<% provide :page_title, 'Edit user' %>
<% provide :menu, currently_at(current_user.role.name.to_s)%>
<% provide :mini_menu, currently_at_mini_menu('Список пользователей', 'shared/mini_bar_user') %>


<section class="a-head">
	<hr>	
</section>

<article class="content-main">
		<%= render('form', object: @user) %>			
</article>