<% provide :page_title, 'Edit user' %>
<% provide :menu, currently_at(current_user.role.name.to_s)%>
<% provide :mini_menu, currently_at_user('Список пользователей') %>


<section class="a-head">
	<strong>edit</strong>
	<hr>	
</section>

<article class="content-main">
	<section class="text-size-xl">
		<p><b><%= @user.employee.name %></b></p>	
	</section>
	<hr>
	<section class="text-size-xl">
		<%= render('form', object: @user) %>
		<p><%= link_to('Назад', user_path) %></p>
	</section>
</article>