<% provide :page_title, 'All users' %>
<% provide :menu, currently_at(current_user.role.name.to_s)%>
<% provide :mini_menu, currently_at_mini_menu('Список пользователей', 'shared/mini_bar_user') %>


<section class="a-head">
	<hr>	
</section>

<article class="content-main">	

	<table class="content-table" style="width: 60%;">
	<caption>
		<span class="text-size-xl">Список сотрудников имеющих доступ в систему</span>
	</caption>
	<thead>
		<tr>
			<th>Сотрудник</th>			
			<th>Парва доступа</th>
			<th>Подробно</th>
		</tr>
	</thead>
	<tbody>
		<%@users.each do |u|%>
			<tr>			
				<td><%= u.fio %></td>
				<td><%= u.role.name%></td>
				<td style="text-align: center;"><%= link_to('Информация', user_path(u), class: 'table-link-info') %></td>			
			</tr>
		<% end %>
	</tbody>
	</table>
</article>