<% provide :page_title, 'All products' %>
<% provide :menu, currently_at(current_user.role.name.to_s)%>
<% provide :mini_menu, currently_at_user('Список пользователей') %>


<section class="a-head">
	<strong>index user</strong>
	<hr>	
</section>

<article class="content-main">	
	
	test
</article>