<% provide :page_title, 'Shwo user' %>
<% provide :menu, currently_at('')%>
<% provide :mini_menu, currently_at_prod('') %>


<section class="a-head">
	<strong>show user</strong>
	<hr>	
</section>

<article class="content-main">
	test
</article>
