
<div class="nav-bar">
  <ul>
    <li><%= nav_tab('Изделия', products_path, {current_page: current_page}) %></li>
    <li><%= nav_tab('Приход-Расход', orders_path, {current_page: current_page}) %></li>
    <li><a href="#">Склад</a></li>
    <li><a href="#">link2</a></li>
  </ul>                
</div>          
