<div class='mini-bar'>
	<ul>
		<li><%= nav_tab('Список пользователей', users_path, {current_page: current_page}) %></li>
		<li><%= nav_tab('Создать нового пользователя', new_user_path, {current_page: current_page})%></li>	
		<hr style="border: 1px solid;">		
	</ul>
</div>

