<div class='mini-bar'>
	<ul>
		<li><%=nav_tab('Все изделия', products_path, {current_page: current_page}) %></li>		
		<li><%=nav_tab('Создать новое изделие',  new_product_path, {current_page: current_page})%></li>		
		<li><%= link_to('Назначение изделий', url='#')%></li>
	</ul>
</div>