<div class='mini-bar'>
	<ul>
		<li><%= nav_tab('Список пользователей', users_path, {current_page: current_page}) %></li>
		<li><a href="#">Создать нового пользователя</a></li>
		<li><a href="#">link3</a></li>	
	</ul>
</div>

