<div class='mini-bar'>
	<ul>
		<li><%= nav_tab('Список пользователей', users_path, {current_page: current_page}) %></li>
		<li><%= nav_tab('Создать нового пользователя', new_user_path, {current_page: current_page})%></li>	
		<hr style="border: 1px solid;">
		<li><%= nav_tab('Список сотрудников', employees_path, {current_page: current_page}) %></li>
		<li><%= nav_tab('Создать нового сотрудника', new_employee_path, {current_page: current_page}) %></li>	
	</ul>
</div>

