<% provide :page_title, 'Intake' %>
<% provide :menu, currently_at('Приход-Расход')%>
<% provide :mini_menu, currently_at_mini_menu(@order.movement.name_movement , 'shared/mini_bar_order') %>

<section class="a-head">
	<strong>edit</strong>	
	<hr>	
</section>

<article class="content-main">
	<%=render(partial: 'form', locals: {object: @order, url: order_path}) %>	
</article>
