
/*btn*/

.btn-success {
	cursor: pointer;
	text-decoration: none;
	background-color: #60b56e;
	padding: 10px 20px;
}

.btn-danger {
	cursor: pointer;
	text-decoration: none;
	background-color: #9c2b2e;
	padding: 10px 20px;
}

.btn-info {
	cursor: pointer;
	text-decoration: none;
	background-color: #7eb9d6;
	padding: 10px 20px;
}

.btn-success:hover {
	background-color: #75d985;
}

.btn-danger:hover {
	background-color: #e84e4f;
}

.btn-info:hover {
	background-color: #96cfeb;
}