/*main content*/

.content-layout {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr auto;	
}

.a-head {
	grid-column: 1/13;
}

.content-main {	
	grid-column: 2/12;
	padding-top: 1em;	
}

/*table*/

.content-table {	
	margin-left: auto;
	margin-right: auto;
}

.content-table table {
	border-collapse: collapse;	
}

.content-table caption {
	padding-bottom: 1em;
}

.content-table th, td {
	border: 1px solid
}

.content-table thead, tfoot {
  background-color: #3f87a6;
}

.content-table tbody {
  background-color: #e4f0f5;
}

.table-link-info {
	text-decoration: none;
	color: #3399ff;
}

.table-link-info:hover {
	color: #b81c48;
}

.table-link-destroy {
	text-decoration: none;
	color: #ff3333;
}

.table-link-destroy:hover {
	color: #b81c48;
}


/*profile*/

