/*main content*/

.content-layout {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr auto;	
}

.a-head {
	grid-column: 1/13;
}

.content-main {	
	grid-column: 2/12;
	padding-top: 1em;	
}

/*table*/

.content-table {	
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border: 1px solid #dddddd;
	border-collapse: collapse;
}

.content-table caption {
	padding-bottom: 1em;
}

.content-table th, td {
	border: 1px solid #dddddd;
	padding: 5px;
}

.content-table thead, tfoot {
  background-color: #efefef;
}

.content-table tbody tr:nth-child(odd){
	background: #fff;
}

.content-table tbody tr:nth-child(even){
	background: #F7F7F7;
}

/*table-link*/

.table-link-info {
	text-decoration: none;
	color: #3399ff;
}

.table-link-info:hover {
	color: #b81c48;
}

.table-link-destroy {
	text-decoration: none;
	color: #ff3333;
}

.table-link-destroy:hover {
	color: #b81c48;
}


/*profile*/

.profile-main-container {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;	
}


.profile {
	display: flex;
	flex-direction: column;	
	background-color: #c4d8ed;	
}

.hr-line {
	display: flex;
	justify-content: center;
	padding: 0.3em 0;
}

.hr-line hr {
	width: 95%;	
}

.name-head {	
	background-color: #7eb9d6;
	text-align: center;
	width: 100%;
	line-height: 2;
	margin-bottom: 0.5em;
}

.profile-info {
	margin: 0 1em 1em 1em;
}

.profile-btn {
	display: flex;
	justify-content: space-around;
	padding: 1em 0 0 0;
}

.profile-text {
	
}

.profile-text p {
	margin: 5px 0 5px 0;
}