<% provide :page_title, 'Edit products' %>
<% provide :menu, currently_at('Изделия')%>
<% provide :mini_menu, currently_at_prod('Все изделия') %>

<section class="a-head">
	<strong>edit</strong>	
	<hr>
</section>

<article class="content-main">			
		<%=render('form', object: @product) %>	
</article>