<% provide :page_title, 'New products' %>
<% provide :menu, currently_at('Изделия')%>
<% provide :mini_menu, currently_at_mini_menu('Создать новое изделие', 'shared/mini_bar_prod') %>

<section class="a-head">
	<hr>
</section>

<article class="content-main">
	<%=render('form', object: @product) %>
</article>